{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<div class="container bg-dark text-white">
    <h1>Hallo Arif</h1>
    <div class="row">
        <div class="col-sm-5">
            <form action="/prediction" method="post">
              <div class="form-group">
                <h4>Masukan kalimat</h4>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="masukan kalimat"
                 name="kalimat">
                <small id="emailHelp" class="form-text text-muted">Kalimat yang dimasukan akan diprediksi kedalam model</small>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-sm-5">
            <form action="/prediction" method="get">
              <div class="form-group">
                <h4>Hasil Normalisasi</h4>
                  {% if text %}
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Hasil Normalisasi kalimat"
                 name="kalimat" value="{{text}}">
                  {%endif%}
                <small id="emailHelp" class="form-text text-muted">kalimat yang anda masukan akan dinormalisasikan</small>
              </div>
            </form>
        </div>


    </div>
    <div class="row">
        <div class="col-sm-3">
            <h5>Prob Cyberbullying</h5>
            <div class="alert alert-danger" role="alert">
                {% if prob_cyb %}
                {{prob_cyb}}
                {%endif%}
            </div>
        </div>
        <div class="col-sm-3">
            <h5>Prob Irrelevant</h5>
            <div class="alert alert-secondary" role="alert">
                {% if prob_ir %}
                {{prob_ir}}
                {%endif%}
            </div>
        </div>
        <div class="col-sm-3">
            <h5>Prob Netral</h5>
            <div class="alert alert-warning" role="alert">
                {% if prob_net %}
                {{prob_net}}
                {%endif%}
            </div>
        </div>
        <div class="col-sm-3">
            <h5>Prob Bukan Cyberbullying</h5>
            <div class="alert alert-success" role="alert">
                {% if prob_non %}
                {{prob_non}}
                {%endif%}
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-3">
            {% if classification=='Cyberbullying' %}
            <h4>Hasil Identifikasi</h4>
            <div class="alert alert-danger" role="alert">
                {{classification}}
            </div>
            {% elif classification=='Irrelevant'%}
            <h4>Hasil Identifikasi</h4>
            <div class="alert alert-secondary" role="alert">
                {{classification}}
            </div>
            {% elif classification=='Netral'%}
            <h4>Hasil Identifikasi</h4>
            <div class="alert alert-warning" role="alert">
                {{classification}}
            </div>
            {% elif classification=='Bukan Cyberbullying'%}
            <h4>Hasil Identifikasi</h4>
            <div class="alert alert-success" role="alert">
                {{classification}}
            </div>
            {% else%}
            {%endif%}
        </div>
    </div>
</div>
{% endblock %}