{% extends 'base_user.html' %}
 {% block body %}
<!-- Akhir Panel -->
        <!-- <div class="row justify-content-center">
            <div class="col-10 input-panel">
                <form action="">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Masukan kalimat">
                </form>
            </div>
        </div> -->
        <!-- Space -->
        <div class="row information">
            <div class="col text">
                <h1 class="judul">Apa Itu Cyberbullying?</h1>
                <h4 class="isi">Cyberbullying (perundungan dunia maya) ialah bullying/perundungan dengan menggunakan teknologi digital. Hal ini dapat terjadi di media sosial, platform chatting, platform bermain game, dan ponsel.<a href="https://www.unicef.org/indonesia/id/child-protection/apa-itu-cyberbullying">(UNICEF)</a></h4>

            </div>
            <div class="col text">
                <h1 class="judul">Bagaimana Bentuk Cyberbullying?</h1>
                <h4 class="isi">Bentuk cyberbullying sendiri meliputi penyebaran kebencian di sosial media, pengungkapan data pribadi seseorang di media sosial, pemberian komentar dan ujaran-ujaran kebencian hingga menjadi back stander yaitu ikut memberikan like pada postingan yang tergolong aksi bullying.
                <a href="http://indonesiabaik.id/infografis/cyberbullying-perilaku-kekerasan-lewat-dunia-maya">(indonesiabaik.id)</a></h4>
            </div>

        </div>
        <div class="row information">
            <div class="col text">
                <h1 class="judul">Lantas Dagaimana Dampak Cyberbullying?</h1>
                <h4 class="isi">Dampak dari cyber bullying sendiri sangat berbahaya bagi seseorang, diantaranya penurunan rasa percaya diri, trauma yang berkepanjangan, hingga menyebabkan seseorang mengalami depresi. Selain itu, karena segala macam ketakutan dan kecemasan yang dialaminya, korban bisa menarik diri dari lingkungan sosialnya. Bahkan, korban cyberbullying akan merasa terluka, marah, takut, tidak berdaya, putus asa, terisolasi, malu, dan bahkan merasa bersalah pada dirinya sendiri.<a href="http://indonesiabaik.id/infografis/cyberbullying-perilaku-kekerasan-lewat-dunia-maya">(UNICEF)</a></h4>
            </div>
            <div class="col text">
                <h1 class="judul">Apakah Hukuman Bagi Pelaku Cyberbullying?</h1>
                <h4 class="isi">Di Indonesia sendiri, peraturan perundang-undangan yang mengatur tindakan ini salah satunya adalah UU ITE. Tindakan cyberbullying masuk kedalam Pasal 29 UU ITE dengan  ancaman hukuman atas pelanggaran pasal itu adalah hukuman pidana penjara paling lama 12 tahun dan/atau denda paling banyak Rp2.000.000.000,00 (Pasal 45 ayat 3
                <a href="https://www.matamatapolitik.com/uu-cyber-bullying-rentan-jadi-alat-kriminalisasi-original-news-polling/">(matapolitik.com)</a></h4>
            </div>

        </div>
{% endblock %}