{% extends 'base_admin.html' %}

{% block head %}
<title>Data Training</title>
{% endblock %}

{% block body %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h3 class="mt-4">Selamat datang {{session['username']}}</h3>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Data Training</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-table mr-1"></i>Tabel Data Training</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Komentar</th>
                                <th>Score</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Komentar</th>
                                <th>Score</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            {% for item in items %}
                            <tr>
                                <td>{{item[0]}}</td>
                                <td>{{item[1]}}</td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Your Website 2019</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>
</div>
{% endblock %}