{% extends 'base_user.html' %}
{% block body %}
    <div class="row justify-content-center">
            <div class="col-10 input-panel">
                <form action="uji_komentar" method="post">
                <input type="text" class="form-control" name="kalimat" id="exampleFormControlInput1" placeholder="Masukan Kalimat.....">
                </form>
            </div>
        </div>
        <!-- Space -->
    <div class="row information">
        <div class="col text">
            <img src="https://img.icons8.com/doodle/480/000000/topic--v1.png"/>
        </div>
        <div class="col text">
            <h1 class="judul">Coba Identifikasi Komentar</h1>
            <h4 class="isi">Melalui Fitur ini, anda dapat mencoba mengetahui apakah komentar anda termasuk komentar yang bersifat cyberbullying atau tidak.
            </h4>
        </div>
    </div>
{% endblock %}